header{
    background-image: url("https://images.pexels.com/photos/1204649/pexels-photo-1204649.jpeg");
    height:100vh;
    position:relative;
    overflow:hidden
}

.large-stripe{
    background-color:rgba(62,0,125,.5);
    height:300px;
    width:200vh;
    transform-origin:left;
    transform:rotate(45deg);
    position:absolute;
    top:-300px;
    left: 50px;
    z-index: 99;
}

.small-stripe{
    background-color: rgba(139,0,0,.5);
    height:50px;
    transform-origin:left;
    transform: rotate(45deg);
    width:200vh;
    top:-28px;
    left:-50px;
    position:absolute;
}

h1{
    font: 900 100px/80px 'playfair', display;
    color:white;
    position:absolute;
    transform:rotate(-45deg);
    margin-left:300px;
    margin-top:50px;
    text-transform:uppercase;

        
}
h1 span{
    display: block;
}

/*===== Navigation ======*/
nav{
    z-index:9999;
    position:static;
}

.navbar-toggler{
    border-radius:50%;
    width:50px;
    height:50px;
    border: 2px solid white !important;
    margin:0;
    padding:0;
    z-index:999;
    opacity:1;
}

.nav-link{ 
    color:black !important;
}